* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1864ab;

  font-family: "Roboto", "Poppins", sans-serif;
}

.container {
  padding: 23px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: start;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.content {
  min-height: 500px;
  position: relative;
  padding: 24px;
  background-color: #fff;
  width: 464px;
  border-radius: 24px;
}
.result {
  min-height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  gap: 12px;
  flex-direction: column;
}
.question {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #2f527b;
  line-height: 36px;
  margin-bottom: 32px;
  margin-top: 40px;
  /* background-color: #6066d0; */
  /* color: white; */
  padding: 0 10px;
  border-radius: 24px;
}
/* .question img {
  background-color: #e9ecef;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
} */

.answer_item {
  height: 56px;
  /* width: 100%; */
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 15px 19px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  border: 2px solid #6066d0;
  color: #6066d0;
  border-radius: 12px;
  cursor: pointer;
  /* transition: all 0.3s; */
}

.action {
  display: flex;
  margin-top: 24px;
  gap: 20px;
  justify-content: end;
  min-height: 70px;
}
.point {
  font-size: 24px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 35px;
}
.next {
  width: 50%;
  height: 56px;
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 36px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.next:hover {
  background-color: #f59f00;
}

/* .checked,
.answer_item:hover {
  background-color: #f9a826;
  color: white;
  border-color: #f9a826;
} */
.yes {
  background-color: #66a80f;
  color: white;
  border-color: #66a80f;
}
.no {
  background-color: #e03131;
  color: white;
  border-color: #e03131;
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    /* height: 100vh; */
  }
  .next {
    width: 100%;
  }
  .action {
    flex-direction: column;
  }
}

.result_title {
  font-size: 44px;
  font-weight: 700;
  color: #2f527b;
}
.results {
  font-size: 20px;
}
.result_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.result_value {
  font-weight: 700;
  color: #66a80f;
  font-size: 25px;
}
